.inquiry-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  /* background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%); */
  background-color: whitesmoke;
  padding: 20px;
  color: black;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form h3 {
  text-align: center;
}

.inquiry-name {
  width: 100%;
  text-align: center;
}

.inquiry-message {
  width: 100%;
  text-align: center;
}

input[type="text"] {
  width: 55%;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid black;
}

textarea {
  width: 80%;
  height: 250px;
  resize: none;
  border-radius: 5px;
  border: 0.5px solid black;
}

.inquiry-button {
  width: 100%;
  margin-top: 20px;
  display: flex;
  padding: 30px;
}

.inquiry-button button {
  width: 90px;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  background-color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.inquiry-button1 {
  width: 50%;
}

.inquiry-button2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

@media (hover: hover) {
  .inquiry-button button:hover {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 767px) {
  .inquiry-modal-container {
    width: 100%;
    border: 3px solid cornflowerblue;
    overflow-y: auto;
  }

  form h3 {
    font-size: 15px;
  }
}
