.inquiry-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%);
    padding: 20px;
    color: black;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form h3 {
    text-align: center;
}

.inquiry-name {
    width: 100%;
    text-align: center;
}

.inquiry-message {
    width: 100%;
    text-align: center;
}

input[type="text"] {
    width: 55%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

textarea {
    width: 80%;
    height: 250px;
    resize: none;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

.inquiry-button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding: 30px;
}

.inquiry-button button {
    width: 90px;
    height: 40px;
    border: none;
    background: linear-gradient(91.3deg, rgb(135, 174, 220) 1.5%, rgb(150, 200, 255) 100.3%);
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.inquiry-button button:hover {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

.inquiry-button1 {
    width: 50%;
}

.inquiry-button2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:767px) {
    .inquiry-modal-container {
        width: 100%;
        border: 3px solid cornflowerblue;
        overflow-y: auto;
    }

    form h3 {
        font-size: 15px;
    }
}