.nav-bar-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    height: 52px;
    width: 100%;
}

.nav-top-button {
    width: 100%;
    height: 52px;
    border: none;
    cursor: pointer;
    /* color: white; */
    /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */
    background-color: white;
    color: black;
    font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: 12px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.1);
    margin-bottom: -17px;
}

progress {
    height: 2px;
    border-bottom: none;
    width: 100%;
    -webkit-appearance: none;
 }

progress::-webkit-progress-bar {
    background-color: white;
 }
 progress::-webkit-progress-value {
    background-color: black;
 }

.nav-top-button:hover {
    /* background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147)); */
    background-color: black;
    color: white;
}

@media screen and (max-width: 787px) {
    .nav-top-button {
        height: 52px;
        font-size: 11px;
        margin-bottom: -100px;
    }

    .nav-bar-container {
        height: 52px;
    }

    progress {
        margin-top: -50px;
    }

    progress::-webkit-progress-bar {
        background-color: white;
     }
     progress::-webkit-progress-value {
        background-color: black;
     }
}