body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

p,h4,h3,h2,h1,span {
  transform : rotate(0.04deg); 
}

code {
  font-family: 'Lora', serif;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

